[Unit]
Description=Uvicorn systemd service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=/home/dev/workspace/uvicorn-demo_main/uvicorn.conf
ExecStart=
ExecStart=/bin/bash --login -c "/usr/local/bin/uvicorn ${DIR}.example:app --host ${HOST} --port ${PORT}"
Restart=always

[Install]
WantedBy=multi-user.target
